.admin_icons i {
  color: #24cb83;
  border: 2px solid #24cb83;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.allBlog_columns {
  width: 360px;
  margin-top: 20px;
  box-shadow: 2px 4px 7px rgb(202, 202, 202);
  overflow: hidden;
}
.static_text {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.static_text h5 {
  color: #24cb83;
  border-bottom: 2px solid rgba(36, 203, 131, 0.4);
  font-weight: 500;
}
.share_icons i {
  color: #24cb83;
  border: 2px solid #24cb83;
  border-radius: 50%;
  padding: 5px;
}
.title h3 {
  margin-top: -2px;
  color: #424242;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: left;
}
.blog_time_hr {
  border-top: 1px solid #adadad;
  margin-bottom: 5px;
}
.time_of_blog {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time_of_blog small {
  color: #a0a0a0;
}

@media only screen and (max-width: 600px) {
  .allBlog_columns {
    width: 350px;
  }
}
